.git
.github
.cache
data
runtime
artifacts
references
*.pak
*.PAK
*.pk3
*.PK3
*.pk4
*.PK4
release/*
!release/index.html
!release/index.js
!release/index.data
!release/index.wasm
!release/game_baseq2.wasm
!release/ref_soft.wasm
!release/ref_gles3.wasm
!release/bundle-manifest.json
!release/q2ded
!release/baseq2/
!release/baseq2/game.so
build
*.o
*.d
